<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
                <class="nav-btns">
                <h3 ><a href="https://www.facebook.com/profile.php?id=100023486103528" class="btn-nav-i"><img src="https://i.imgur.com/rB1CJLo.png" alt="" height="3%" width="3%"></a>
                <a href="https://instagram.com/e_kustomsllc?igshid=YmMyMTA2M2Y=" class="btn-nav-i"><img src="https://i.imgur.com/JDowZkb.jpg" alt="" height="3%" width="3%"></a>
            </h3>
            <div class="logo">
    
                <h1 style="text-align: center;">
                    <a href="/"><img src="https://i.imgur.com/2Bf8jiF.jpg" alt="" height="35%" width="35%" class="center"></h1>
                    </a>
                    <main>
            <class="list-product">
                <h4><br>
                <a href="/product" class="link" style="color:orange;  align-content: center;" >Graphic Shirts</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/kustoms" class="link" style="color:orange; ">Kustoms</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/about" class="link" style="color:orange; ">About Me</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/portraits" class="link" style="color:orange; ">Portraits</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/questions" class="link" style="color:orange; ">Contact  E-Kustums</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
                <a href="/logout" class="link" style="color: red;"> Logout</a>
                &nbsp; 
                <a href="/login" class="link" style="color: red;"> Login </a>
                &nbsp; 
                <a href="/signup" class="link" style="color: red;"> SignUp</a>
                <br>
                <br>
            </h4>
        </div>
    </nav>
    <style>
        h4{
            font-size: large;
        }
    </style>
</header>
<a href="/"><button style="background-color: red; font-size: large;"> Home </button></a>
    <main>
    <h1 style="text-align:center; font-size: xxx-large; color: greenyellow; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; "> CEO Eric Green </h1>
    
    <h2 style=" color: grean yellowgreen; font-family: Arial, Helvetica, sans-serif; text-align: center; background-color:black ;" class="container"> <strong style="color:red ;">E-kustoms llc</strong> is soley ran by visual artist, <strong style="color:red ;">Mr. Eric Green</strong> himself. 
        <br><br>Mr. Green is a native of <strong style="color:red ;">Savannah Georgia</strong> to whom he is considered 
        <br><br>by many to have reached the level of <strong style="color:red ;">expertise</strong> in 
        <br><br> creating Kustom portraits, Kustom clothes, Kustom shoes, Kustom sports gear, 
        <br><br>and/or whatever you inquiry about.
        <br><br>Just as a young child, Mr. Green developed a <strong style="color:red ;">passion</strong> for art through the entertainment of cartoons.
        <br><br> For Mr. Green, 
        <br><br> <strong style="color:red ;">moral character</strong> has transformed a childhood dream into reality 
        <br><br>and a job for himself.
        <br><br><strong style="color:red ;"> Paintings emphasize vivid details and bring the customers dreams
        <br><br> into a satisfying reality. </strong> 
        <br><br> The end goal of E-Kustoms is to reach satisfaction of each customer across the nation.
        <br> <br><br> 
        Direct Email: <a href="mailto:ekustoms8@gmail.com" style="text-align: center; color: orange;"> ekustoms8@gmail.com</a>    
        <br>  
        Phone Number: <a href="tel:+9126758977" style="text-align: center; color: orange;">(912)675-8977</a>
    </h2>
<style>
    h4{
        text-align: center;
        
    }
    h2{
        
        background-repeat:no-repeat ;
        background-position: center;
        background-size:cover;
        background-color: black; 

        text-align: center;
    }
</style>
    </main>
    <br><br><br>
<br><br><br><br>
    <hr>
<footer>
    <a href="https://www.linkedin.com/in/fullstack-levonte-larry/" class="btn-nav-i">
        <img src="https://i.imgur.com/dA5kwk8.png" 
        height="13%" width="13%">
    </a>
    &nbsp;&nbsp;

    <a href="https://www.instagram.com/the_digital.expert_/" class="btn-nav-i">
        <img src="https://www.instagram.com/the.digital.expert/" 
        height="4%" width="4%">
    </a>
    &nbsp;&nbsp;

    <a href="https://www.facebook.com/profile.php?id=100068595183069" class="btn-nav-i">
        <img src="https://i.imgur.com/rB1CJLo.png" 
        height="4%" width="4%">
    </a>
    &nbsp;&nbsp;
    <a href="https://www.youtube.com/channel/UCu0gSo_y1R6tbXWK94ktP8Q" class="btn-nav-i">
        <img src="https://i.imgur.com/NJbgkwz.png" 
        height="10%" width="10%">
    </a>
    <p style="color: black;">This Website Was Built By The Digital Expert Web & App Engineering Company
    <br><br>Copyright &copy; All Rights Reserved Ekustoms <%= new Date().getFullYear() %> </p>
    <br><br><br><br>
</footer>

</body>
</html>

<style>
    footer{
        text-align: center;
        background-color: white;
    }




<style>
    footer{
        text-align: center;
    }
    h4{
        text-align: center;
        
    }
    body{
        background-color:white;
    } 
    footer{
        background-color:;
        color: white;
    }
    header{
        background-color: white;
    }
    h2{
        background-color: black;
        text-align:center;
        color: yellowgreen;
        
    }
    main{
        background-color: black;
    }
    h3{
        text-align: right;
    }
    h5{
        text-align: center;
        background-color: red;
        color: yellowgreen;
        font-size: medium;
    }
    p{
        color: yellowgreen;
        text-align: center;
    }
    </style>