<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body 
    style="background-image: 
        url('https://i.imgur.com/BdCKBbu.jpg');
">
<header>

    <div class="logo">
<h1 
    style="text-align: center;
">
<a href="/">
    <img src="https://i.imgur.com/7zoIxQC.jpg" 
        alt="" height="25%" width="25%" 
            style="border-radius: 50%;
            padding:3% 3% 3%; 
            border-radius: 25%;
            box-shadow:20px 20px 20px 
                 yellowgreen;
">
</h1>
    <main>
    <class="list-product">
<h4 
    style="text-align: center; 
           background-color: yellowgreen;
">
<a href="/product" class="link" 
    style="color: black; 
           align-content: center;
">
        Graphic Shirts
</a>
                    &nbsp;&nbsp;&nbsp;
<a href="/kustoms" class="link" 
    style="color: black;
">
        Kustoms
</a>
                    &nbsp;&nbsp;&nbsp;
<a href="/about" class="link" 
    style="color: grey;"
>
        About Me
</a>
                    &nbsp;&nbsp;&nbsp;
<a href="/portraits" class="link" 
    style="color: black;
">
        Portraits
</a>
                    &nbsp;&nbsp;&nbsp;
<a href="/questions" class="link" 
    style="color: black;
">
        Contact  E-Kustums
</a>
                    &nbsp;&nbsp;&nbsp;
<a href="/kids" class="link" 
    style="color: black;
">
        Super Kids
</a>
                    &nbsp;&nbsp;&nbsp;
<a href="/murals" class="link" 
    style="color: black;
">
        Murals
</a>
                    &nbsp;&nbsp;&nbsp;
<a href="/canvas" class="link" 
    style="color: black;
">
        Canvas
</a>
</h4>
    </div>
    </nav>

</header>
    <main>
<h3 
    style="text-align:center; 
           font-size: xxx-large; 
           color: black; 
           font-family: Cambria, Cochin, Georgia, Times,
           'Times New Roman', serif;"
    > 
        CEO Eric Green 
</h3>
    
<h2 
    style=" color: grean black; 
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;"
         class="container"> 
                <strong 
                    style="color:red ;
                ">
                    E-kustoms llc
                </strong> 
        is soley ran by visual artist, 
    <strong style="color:red ;
    ">
        Mr. Eric Green
    </strong> 
        himself. 
                    <br><br>
            Mr. Green is a native of 
                <strong 
                    style="color:red ;
                ">
                    Savannah Georgia
                </strong> 
            to whom he is considered 
                    <br><br>
            by many to have reached the level of 
                <strong 
                    style="color:red ;
                ">
                    expertise
                </strong> 
            in 
                    <br><br>
            creating Kustom portraits, Kustom clothes,
            Kustom shoes, Kustom sports gear, 
                    <br><br>
            and/or whatever you inquiry about.
                    <br><br>
            Just as a young child, Mr. Green developed a 
                <strong 
                    style="color:red ;
                ">
                    passion
                </strong> 
            for art through the entertainment of cartoons.
                    <br><br>
            For Mr. Green, 
                    <br><br>
                <strong 
                style="color:red ;
            ">      
                    moral character
                </strong> 
            has transformed a childhood dream into reality 
                    <br><br>
            and a job for himself.
                    <br><br>
            <strong 
                style="color:red ;
            ">
            Paintings emphasize vivid details and bring the
            customers dreams
                    <br><br>
            into a satisfying reality. 
        </strong> 
                    <br><br>
            The end goal of E-Kustoms is to reach satisfaction of each customer across the nation.
                    <br><br><br> 
</h2>
    </main>

</body>
</html>

<style>
    h4{
        text-align: center;
    }
    h2{
        background-repeat:no-repeat ;
        background-position: center;
        background-size:cover;
        text-align: center;
    }
    footer{
        text-align: center;
    }
    footer{
        text-align: center;
    }
    h4{
        text-align: center;
    }

    footer{   color: white;
    }
    h2{
        text-align:center;
        color: black;
    }
    
    h3{
        font-size: 6rem;
    }
    h5{
        text-align: center;
        color: black;
        font-size: medium;
    }
    p{
        color: black;
        text-align: center;
    }
        .logo:hover
    a:hover,
    .list-product:hover
    a:hover{
        background-color: red;
        padding: 5px 5px 5px;
        border-radius: 25%;
    }
        h4{
            font-size: x-large;
        }
    </style>