<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
                <class="nav-btns">
                <h3 ><a href="https://www.facebook.com/profile.php?id=100023486103528" class="btn-nav-i"><img src="https://i.imgur.com/rB1CJLo.png" alt="" height="3%" width="3%"></a>
                <a href="https://instagram.com/e_kustomsllc?igshid=YmMyMTA2M2Y=" class="btn-nav-i"><img src="https://i.imgur.com/JDowZkb.jpg" alt="" height="3%" width="3%"></a>
                
            </h3>
            <div class="logo">
    
                <h1 style="text-align: center;">
                    <a href="/"><img src="https://i.imgur.com/2Bf8jiF.jpg" alt="" height="45%" width="45%" class="center"></h1>
                    </a>
                    <main>
            <class="list-product">
                <h4><br>
                <a href="/product" class="link" style="color: orange;"  >Graphic Shirts</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/kustoms" class="link" style="color: orange;"  >Kustoms</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/about" class="link" style="color: orange;"   >About Me</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/portraits" class="link" style="color: orange;"   >Portraits</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/questions" class="link" style="color: orange;"   >Contact  E-Kustums</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                

                <a href="/logout" class="link" style="color: red;"> Logout</a>
                &nbsp; 
                <a href="/login" class="link" style="color: red;"> Login </a>
                &nbsp; 
                <a href="/signup" class="link" style="color: red;"> SignUp</a>
                <br><br>
            </h4>
        </div>
    </nav>
    
</header>
<style>
    h4{
        text-align: right;
        font-size: large;
    }
</style>




<h2 style="font-size:xxx-large ;"> Welcome To E-Kustoms </h2> 
<p style="font-size: large;">  Click one of our social media icons above to follow or click <a href="/signup" style="color: black;"> HERE</a> to create account and stay updated 
    <br><br>

    <h6 class="centered">
        <img src="https://i.imgur.com/bMyp2iP.jpg" alt="" width="600" height="475">          
         <a href="/kustoms"> <button style=" color: green; border: green; background-color:white; font-size: large ;"> Kustom Edits </button></a>
         <a href="/product"> <button style=" border: green; color: green; background-color:white; font-size: large ;"> Graphic Shirts </button></a>
         <a href="/about"> <button style=" color: green; border: green; background-color:white; font-size: large ;"> About Us </button></a>
         <a href="/portraits"> <button style=" color: green; border: green; background-color:white; font-size: large ;"> View Portraites </button></a>
         <a href="/login"> <button style=" color: green; border: green; background-color:white; font-size: large ;"> Login </button></a>
         <a href="/signup"> <button style=" color: green; border: green; background-color:white; font-size: large ;"> Create Account </button></a>
</p>

<style>
    h6{
        background-image: url("https://i.imgur.com/7FWZAtH.jpg");
        

    }
</style>

   <style>
    
    .container{
        position: relative;
        text-align: center;
        color: yellowgreen;
    }
    button{
        color: yellowgreen;
        background-color: black;
    }
   </style>
   
   
   <br><br><br>
<br><br><br><br>
    <hr>
<footer>
    <a href="https://www.linkedin.com/in/fullstack-levonte-larry/" class="btn-nav-i">
        <img src="https://i.imgur.com/dA5kwk8.png" 
        height="13%" width="13%">
    </a>
    &nbsp;&nbsp;

    <a href="https://www.instagram.com/the.digital.expert/" class="btn-nav-i">
        <img src="https://i.imgur.com/JDowZkb.jpg" 
        height="4%" width="4%">
    </a>
    &nbsp;&nbsp;

    <a href="https://www.facebook.com/profile.php?id=100068595183069" class="btn-nav-i">
        <img src="https://i.imgur.com/rB1CJLo.png" 
        height="4%" width="4%">
    </a>
    &nbsp;&nbsp;
    <a href="https://www.youtube.com/channel/UCu0gSo_y1R6tbXWK94ktP8Q" class="btn-nav-i">
        <img src="https://i.imgur.com/NJbgkwz.png" 
        height="10%" width="10%">
    </a>
    <p style="color: black;">This Website Was Built By The Digital Expert Web & App Engineering Company
    <br><br>Copyright &copy; All Rights Reserved Ekustoms <%= new Date().getFullYear() %> </p>
    <br><br><br><br>
</footer>

</body>
</html>

<style>
    h4{
        text-align: center;
        
    }
    footer{
        text-align: center;
        background-color: white;
    }


<style>
    footer{
        text-align: center;
    }
    h4{
        text-align: center;
        
    }
    body{
        background-color:white;
    } 
    footer{
        background-color:;
        color: white;
    }
    header{
        background-color: white;
    }
    h2{
        background-color: black;
        text-align:center;
        color: yellowgreen;
        
    }
    main{
        background-color: black;
    }
    h3{
        text-align: right;
    }
    h5{
        text-align: center;
        background-color: red;
        color: yellowgreen;
        font-size: medium;
    }
    p{
        color: yellowgreen;
        text-align: center;
    }
    </style>