<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body 
    style="background-image:
           url('https://i.imgur.com/BdCKBbu.jpg'); 
           text-align: center;
">
<header>  
    <div class="logo">
<h1 style="text-align: center;
">
    <a href="/">
        <img src="https://i.imgur.com/7zoIxQC.jpg" 
             alt="" height="25%" width="25%" 
             style="border-radius: 50%;
             padding:3% 3% 3%; 
             border-radius: 25%;
            box-shadow:20px 20px 20px 
                    yellowgreen;"
        >
    </a>
</h1>
                   
    <class="list-product">
<h4 
    style="text-align: center; 
    background-color: yellowgreen;
">
<a href="/product" class="link"                    
    style="color: black; 
           align-content: center;
">
        Graphic Shirts
</a>
                    &nbsp;&nbsp;&nbsp;
<a href="/kustoms" class="link" 
    style="color: black;
">
        Kustoms
</a>
                    &nbsp;&nbsp;&nbsp;
<a href="/about" class="link" 
    style="color: black;
">
        About Me
</a>
                    &nbsp;&nbsp;&nbsp;
<a href="/portraits" class="link" 
    style="color: black;
">
        Portraits
</a>
                    &nbsp;&nbsp;&nbsp;
<a href="/questions" class="link" 
    style="color: black;
">
        Contact  E-Kustums
</a>
                    &nbsp;&nbsp;&nbsp;
<a href="/kids" class="link" 
    style="color: grey;
">
        Super Kids
</a>
                    &nbsp;&nbsp;&nbsp;
<a href="/murals" class="link" 
    style="color: black;
">
        Murals
</a>
                    &nbsp;&nbsp;&nbsp;
<a href="/canvas" class="link" 
    style="color: black;
">
        Canvas
</a>
</h4>
    </div>   
</header>

<h2>
    SUPER KIDS 
</h2>
    
<a href="mailto:ekustoms8@gmail.com">
    <button 
        style="color: yellowgreen; 
               background-color:black; 
               font-size: large;
               padding:3% 3% 3%; 
               border-radius: 25%; 
               box-shadow:20px 20px 20px 
                    yellowgreen;
    "> 
            Inquiry 
    </button>  
</a>
                <br><br>    
    <div class="column">
<h2> 
    TODDLER PANTS
</h2>
<h3> Pants Start At
        <strong 
            style="color: yellowgreen;
        ">
                $80
        </strong>
</h3>
    <img src="https://i.imgur.com/e9c6e3Y.jpg" 
        alt="" width="40% " height="30%" 
            style="width: 30.3%;
                   box-shadow: 5px 5px 5px 
                        black;
                   border-radius: 15%;
                   padding: 1% 1% 1% 1%;
    ">

    <img src="https://i.imgur.com/KT5Kurm.jpg" 
        alt="" width="40% " height="30%" 
            style="width: 30.3%;
                   box-shadow: 5px 5px 5px 
                        black;
                   border-radius: 15%;
                   padding: 1% 1% 1% 1%;
    ">

    <img src="https://i.imgur.com/B3vABMq.jpg" 
        alt="" width="40% " height="30%" 
            style="width: 30.3%;
                   box-shadow: 5px 5px 5px 
                        black;
                   border-radius: 15%;
                   padding: 1% 1% 1% 1%;
    ">

    <img src="https://i.imgur.com/k6XpZtX.jpg" 
        alt="" width="40% " height="30%" 
            style="width: 30.3%;
                   box-shadow: 5px 5px 5px 
                        black;
                   border-radius: 15%;
                   padding: 1% 1% 1% 1%;
    ">

    <img src="https://i.imgur.com/DH23tuZ.jpg" 
        alt="" width="40% " height="30%" 
            style="width: 30.3%;
                   box-shadow: 5px 5px 5px 
                        black;
                   border-radius: 15%;
                   padding: 1% 1% 1% 1%;
    ">

        <br><br>
                        
<a href="mailto:ekustoms8@gmail.com">
    <button 
        style="color: yellowgreen; 
               background-color:black; 
               font-size: large;
               padding:3% 3% 3%; 
               border-radius: 25%; 
               box-shadow:20px 20px 20px 
                    yellowgreen;
    "> 
            Inquiry 
    </button>  
</a>

<h2> 
    TODDLER JACKETS
</h2>
<h3> Jackets Start At
    <strong 
        style="color: yellowgreen;
    ">
            $100
    </strong>
</h3>
<img src="https://i.imgur.com/g0ydnWL.jpg" 
     alt="" width="40% " height="25%" 
        style="width: 30.3%;
               box-shadow: 5px 5px 5px 
                    black;
               border-radius: 15%;
               padding: 1% 1% 1% 1%; 
">

<img src="https://i.imgur.com/jelEFBj.jpg" 
     alt="" width="40% " height="30%" 
        style="width: 30.3%;
               box-shadow: 5px 5px 5px 
                    black;
               border-radius: 15%;
               padding: 1% 1% 1% 1%;
">
        <br><br>
                                
<a href="mailto:ekustoms8@gmail.com">
    <button 
        style="color: yellowgreen; 
               background-color:black; 
               font-size: large;
               padding:3% 3% 3%; 
               border-radius: 25%; 
               box-shadow:20px 20px 20px 
                    yellowgreen;
"> 
        Inquiry 
    </button>  
</a>
                        
<h2> 
    SUPER KIDS SHIRTS
</h2>
<h3> 
    All Shirts Are 
        <strong 
            style="color: yellowgreen;
        ">
                $35
        </strong>
</h3>
                        
<img src="https://i.imgur.com/peVRKPD.jpg" 
     alt="" width="40% " height="30%" 
        style="width: 30.3%;
               box-shadow: 5px 5px 5px 
                    black;
               border-radius: 15%;
               padding: 1% 1% 1% 1%;
">

<img src="https://i.imgur.com/fXHd7hn.jpg" 
     alt="" width="40% " height="30%" 
     style="width: 30.3%;
            box-shadow: 5px 5px 5px
                 black;
            border-radius: 15%;
            padding: 1% 1% 1% 1%;
">

<img src="https://i.imgur.com/w2foB3C.jpg" 
     alt="" width="40% " height="30%" 
     style="width: 30.3%;
            box-shadow: 5px 5px 5px
                 black;
            border-radius: 15%;
            padding: 1% 1% 1% 1%;
">

<img src="https://i.imgur.com/8B1qzFk.jpg" 
     alt="" width="40% " height="30%" 
     style="width: 30.3%;
            box-shadow: 5px 5px 5px
                 black;
            border-radius: 15%;
            padding: 1% 1% 1% 1%;
">

<img src="https://i.imgur.com/zt9BNwj.jpg" 
    alt="" width="40% " height="30%" 
    style="width: 30.3%;
               box-shadow: 5px 5px 5px 
                    black;
               border-radius: 15%;
               padding: 1% 1% 1% 1%;
">

<img src="https://i.imgur.com/ow4brEr.jpg" 
    alt="" width="40% " height="30%" 
        style="width: 30.3%;
               box-shadow: 5px 5px 5px 
                        black;
                border-radius: 15%;
                padding: 1% 1% 1% 1%;
">

        <br><br>
<a href="mailto:ekustoms8@gmail.com">
    <button 
        style="color: yellowgreen; 
               background-color:black; 
               font-size: large;
                padding:3% 3% 3%; 
                border-radius: 25%; 
                box-shadow:20px 20px 20px 
                        yellowgreen;
"> 
        Inquiry 
    </button>  
</a>
    </div>
<br><br><br>
<br><br><br>
<hr>

</body>
</html>


<style>
    *{
        text-align: center;
    }
    h4{
        font-size: x-large;

    }
    a{
        font-size: x-large;
    }
    .logo:hover
    a:hover,
    .list-product:hover
    a:hover{
        background-color: red;
        padding: 5px 5px 5px;
        border-radius: 25%;
    }
    h2{
        font-size: 5rem;
    }
    h3{
        font-size: 3rem;
    }
</style>