<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-image: url('https://i.imgur.com/BdCKBbu.jpg');">
    <header>
        <nav>
                
            <div class="logo">
                <h1 style="text-align: center;">
                    <a href="/"><img src="https://i.imgur.com/7zoIxQC.jpg" 
                        alt="" height="35%" width="35%" 
                        style="border-radius: 50%;"
                        class="center">
                </h1>
                    </a>
                   
            <class="list-product">
                <h4 style="text-align: center; background-color: yellowgreen;">
                    <a href="/product" class="link" 
                        style="color: black; align-content: center;" >Graphic Shirts</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="/kustoms" class="link" style="color: grey;">Kustoms</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="/about" class="link" style="color: black;">About Me</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="/portraits" class="link" style="color: black;">Portraits</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="/questions" class="link" style="color: black;">Contact  E-Kustums</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="/kids" class="link" style="color: black;">Super Kids</a>
                    &nbsp;&nbsp;&nbsp;
                <a href="/murals" class="link" style="color: black;">Murals</a>
                    &nbsp;&nbsp;&nbsp;
                <a href="/canvas" class="link" style="color: black;">Canvas</a>
                </h4>
        </div>
    </nav>
   <style>
    .logo:hover
    a:hover,
    .list-product:hover
    a:hover{
        background-color: red;
        padding: 5px 5px 5px;
        border-radius: 25%;
    }
    h4{
        font-size: large;

    }
</style>
</header>
<a href="/"><button style="background-color: white; font-size: large;" > Home </button>


</a>

    <h1 style="text-align:center; background-color: ; 
            color: black; font-family: Georgia, 'Times New Roman', Times, serif; 
            font-size: 380%; font-weight: 100
            ">Kustoms
    </h1>

    <h2 style="color:; font-family: Arial, Helvetica, sans-serif; font-weight: 100;">
         Jackets Starting At <strong style="color: black;">$160</strong>
                    <br><br>
         Pants Starting At
        <strong style="color: black;">$120</strong>
                    <br><br>
         Shoes Starting At 
        <strong style="color: black;">$160</strong>
                    <br><br>
        <a href="mailto:ekustoms8@gmail.com">
            <button 
            style="color: white; background-color:black; font-size: large; "> Inquiry 
            </button>  
        </a>
    </h2>
    
    <div class="column" >
<img src="https://i.imgur.com/DqPu6v8.jpg" 
    alt="" width="40% " height="25%" 
    style="width: 30.3%;
    box-shadow: 5px 5px 5px black;
    border-radius: 15%;padding: 1% 1% 1% 1%; ">
<img src="https://i.imgur.com/vh5YoTT.jpg" 
alt="" width="40% " height="30%" 
style="width: 30.3%;
box-shadow: 5px 5px 5px black;
border-radius: 15%;padding: 1% 1% 1% 1%;">
<img src="https://i.imgur.com/R4LsAr3.jpg" 
alt="" width="40% " height="30%" 
style="width: 30.3%;
    box-shadow: 5px 5px 5px black;
    border-radius: 15%;padding: 1% 1% 1% 1%;">
<img src="https://i.imgur.com/KsPM5YA.jpg" 
alt="" width="40% " height="30%" 
style="width: 30.3%;
    box-shadow: 5px 5px 5px black;
    border-radius: 15%;padding: 1% 1% 1% 1%;">
<img src="https://i.imgur.com/UycEylE.jpg" 
alt="" width="40% " height="30%" 
style="width: 30.3%;
    box-shadow: 5px 5px 5px black;
    border-radius: 15%;padding: 1% 1% 1% 1%;">
<img src="https://i.imgur.com/NDPCmyK.jpg" 
alt="" width="40% " height="30%" 
style="width: 30.3%;
    box-shadow: 5px 5px 5px black;
    border-radius: 15%;padding: 1% 1% 1% 1%;">
<img src="https://i.imgur.com/uKZ6VsW.jpg" 
alt="" width="40% " height="30%" 
style="width: 30.3%;
    box-shadow: 5px 5px 5px black;
    border-radius: 15%;padding: 1% 1% 1% 1%;">

</div>
<br><br><br>
<br><br><br><br>
    <hr>
<footer>
    <a href="https://www.linkedin.com/in/fullstack-levonte-larry/" class="btn-nav-i">
        <img src="https://i.imgur.com/dA5kwk8.png" 
        height="13%" width="13%">
    </a>
    &nbsp;&nbsp;

    <a href="https://www.instagram.com/the.digital.expert/" class="btn-nav-i">
        <img src="https://i.imgur.com/JDowZkb.jpg" 
        height="4%" width="4%">
    </a>
    &nbsp;&nbsp;

    <a href="https://www.facebook.com/profile.php?id=100068595183069" class="btn-nav-i">
        <img src="https://i.imgur.com/rB1CJLo.png" 
        height="4%" width="4%">
    </a>
    &nbsp;&nbsp;
    <a href="https://www.youtube.com/channel/UCu0gSo_y1R6tbXWK94ktP8Q" class="btn-nav-i">
        <img src="https://i.imgur.com/NJbgkwz.png" 
        height="10%" width="10%">
    </a>
    <p style="color: black;">
        This Website Was Built By The Digital Expert Web & App Engineering Company
    <br><br>
        Copyright &copy; All Rights Reserved Ekustoms <%= new Date().getFullYear() %> </p>
    <br><br><br><br>
</footer>

</body>
</html>

<style>
    footer{
        text-align: center;
        background-color: white;
    }


<style>
    footer{
        text-align: center;
    }
    h4{
        text-align: center;
        
    }
    body{
        background-color:white;
    } 
    footer{
        background-color:;
        color: white;
    }
    header{
        background-color: ;
    }
    h2{
        font-size: x-large;
        text-align:center;
        color: black;
        
    }
    main{
        background-color: black;
    }
    h3{
        text-align: right;
    }
    h5{
        text-align: center;
        background-color: red;
        color: yellowgreen;
        font-size: medium;
    }
    p{
        color: yellowgreen;
        text-align: center;
    }
    </style>