<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body 
    style="background-image: 
           url('https://i.imgur.com/BdCKBbu.jpg');
">
<header>
    <div class="logo">
<h1 
    style="text-align: center;
">
<a href="/">
    <img src="https://i.imgur.com/7zoIxQC.jpg" 
        alt="" height="25%" width="25%" 
            style="border-radius: 50%;
                   padding:3% 3% 3%; 
                   border-radius: 25%;
                   box-shadow:20px 20px 20px
                         yellowgreen;
    ">
</a>
</h1> 
    <class="list-product">
<h4 
    style="text-align: center; 
           background-color: yellowgreen;
">
<a href="/product" class="link" 
    style="color: black; 
           align-content: center;
">      Graphic Shirts
</a>
                &nbsp;&nbsp;&nbsp;
<a href="/kustoms" class="link" 
    style="color: black;
">
        Kustoms
</a>
                &nbsp;&nbsp;&nbsp;
<a href="/about" class="link" 
    style="color: black;
">
        About Me
</a>
                &nbsp;&nbsp;&nbsp;
<a href="/portraits" class="link" 
    style="color: gray;
">
        Portraits
</a>
                &nbsp;&nbsp;&nbsp;
<a href="/questions" class="link" 
    style="color: black;
">
            Contact  E-Kustums
</a>
                &nbsp;&nbsp;&nbsp;
<a href="/kids" class="link" 
    style="color: black;
">
            Super Kids
</a>
                &nbsp;&nbsp;&nbsp;
<a href="/murals" class="link" 
    style="color: black;
">
            Murals
</a>
                &nbsp;&nbsp;&nbsp;
<a href="/canvas" class="link" 
    style="color: black;
">
            Canvas
</a>
</h4>
    </div>
    </nav>
</header>

<style>
h4{
    font-size: x-large;
}
</style>

    <main 
        style="font: size 3rem;
    ">
<h2 
    style="font-size: 5rem; 
           color: black; 
           font-weight: 100;
">
        Portraits
</h2>  

<h5 
    style="font-size: 3rem; 
           color:yellowgreen;
">
        <strong 
            style="color: black; 
                   font-size: 3rem;
">
                Kustoms Portraits
        </strong> 
                starting at 
                    <strong 
                        style="color: yellowgreen; 
                               font-size: 3rem;
                    ">
                $200
        </strong>
    <br><br>
<a href="mailto:ekustoms8@gmail.com">
    <button 
        style="color: yellowgreen; 
               background-color:black; 
               font-size: large;
               padding:3% 3% 3%; 
               border-radius: 25%; 
               box-shadow:20px 20px 20px 
                    yellowgreen;"
    >
            Inquiry 
    </button>  
</a>
</h5>
    <br><br>
<img 
    src="https://i.imgur.com/uC93GT8.jpg" 
    alt="" width="45%" height="45%" 
        style="padding: 2% 2% 2%;
">

<img 
    src="https://i.imgur.com/s4O1bJf.jpg" 
    alt="" width="45%" height="45%" 
        style="padding: 2% 2% 2%;
">

<img 
    src="https://i.imgur.com/1tMv82q.jpg" 
    alt="" width="45%" height="45%" 
        style="padding: 2% 2% 2%;
">

<img 
    src="https://i.imgur.com/cI0KaWc.jpg" 
    alt="" width="45%" height="45%" 
        style="padding: 2% 2% 2%;
">
    
<a href="mailto:ekustoms8@gmail.com">
    <button 
        style="color: yellowgreen; 
               background-color:black; 
               font-size: large;
               padding:3% 3% 3%; 
               border-radius: 25%; 
               box-shadow:20px 20px 20px 
                    yellowgreen;
                    ">
            Inquiry 
    </button>  
</a>
    </main>

</body>
</html>
<style>
    h4{
        text-align: center;
        
    }
    footer{
        text-align: center;
    }
    .logo:hover
    a:hover,
    .list-product:hover
    a:hover{
        background-color: red;
        padding: 5px 5px 5px;
        border-radius: 25%;
    }
    footer{
        text-align: center;
    }
    h4{
        text-align: center;
        
    }
    footer{
        color: black;
    }
    h2{
        text-align:center;
        color: black;
    }
    main{
        text-align: center;
    }
    h3{
        text-align: right;
    }
    h5{
        text-align: center;
        color: black;
        font-size: large;
    }
    p{
        color: black;
        text-align: center;
    }
    </style>