<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
                <class="nav-btns">
                <h3 ><a href="https://www.facebook.com/profile.php?id=100023486103528" class="btn-nav-i"><img src="https://i.imgur.com/rB1CJLo.png" alt="" height="3%" width="3%"></a>
                <a href="https://instagram.com/e_kustomsllc?igshid=YmMyMTA2M2Y=" class="btn-nav-i"><img src="https://i.imgur.com/JDowZkb.jpg" alt="" height="3%" width="3%"></a>
            </h3>
            <div class="logo">
    
                <h1 style="text-align: center;">
                    <a href="/"><img src="https://i.imgur.com/2Bf8jiF.jpg" alt="" height="35%" width="35%" class="center"></h1>
                    </a>
                    <main>
            <class="list-product">
                <h4 style="text-align: right; "><br>
                <a href="/product" class="link" style="color: greenyellow; align-content: center;" >Graphic Shirts</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/kustoms" class="link" style="color: greenyellow;">Kustoms</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/about" class="link" style="color: greenyellow;">About Me</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/portraits" class="link" style="color: greenyellow;">Portraits</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/questions" class="link" style="color: greenyellow;">Contact  E-Kustums</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
                <a href="/logout" class="link" style="color: red;"> Logout</a>
                &nbsp; 
                <a href="/login" class="link" style="color: red;"> Login </a>
                &nbsp; 
                <a href="/signup" class="link" style="color: red;"> SignUp</a>
                <br><br>
            </h4>
        </div>
    </nav>
    <style>
        h4{
            font-size: large;
            background-color: black;
        }
    </style>
</header>
<a href="/"><button style="background-color: red; font-size: large;"> Home </button></a>


    <main>
        <h1 style="text-align:center; 
            color:yellowgreen; 
            background-color: black; 
            font-size: xxx-large;"> 
            Portrait Paintings 
        </h1>
            <br><br>
        <h5><strong style="color: red;">Custom canvas portrait paintings</strong> 
        <br>
        starting at <strong style="color: red;">$200</strong>
        <br><br>
        Custom Cartoon character paintings starting at <strong style="color: red;">$160</strong>
        <br><br>
        <strong style="color: red;">Mural Art on wall</strong>
        <br>  
        Low quality <strong style="color: red;">$80</strong> per square feet
        <br><br>  
        Medium quality <strong style="color: red;">$120</strong>
         per square feet
         <br><br>
        High quality <strong style="color: red;">$160</strong>
        per square feet
        <br><br>
        Click
        <a href="mailto:ekustoms8@gmail.com">
            <button 
            style="color: red; background-color:black; font-size: large; "> Kustoms 
            </button>  
        </a> For Inquiries
        <br><br>
    </h5>
        <br><br>
    <img src="https://i.imgur.com/9GDJdod.jpg" alt="" width="350" height="300">
    <img src="https://i.imgur.com/WWiRRks.jpg" alt="" width="350" height="300">
    <img src="https://i.imgur.com/DP7wSac.jpg" alt="" width="350" height="300">
    <img src="https://i.imgur.com/0iPwIp8.jpg" alt="" width="350" height="300">
    <img src="https://i.imgur.com/k9lyBo9.jpg" alt="" width="350" height="300">
    <img src="https://i.imgur.com/oroZJol.jpg" alt="" width="350" height="300">

</main>
<br><br><br>
<br><br><br><br>
    <hr>
<footer>
    <a href="https://www.linkedin.com/in/fullstack-levonte-larry/" class="btn-nav-i">
        <img src="https://i.imgur.com/dA5kwk8.png" 
        height="13%" width="13%">
    </a>
    &nbsp;&nbsp;

    <a href="https://www.instagram.com/the.digital.expert/" class="btn-nav-i">
        <img src="https://i.imgur.com/JDowZkb.jpg" 
        height="4%" width="4%">
    </a>
    &nbsp;&nbsp;

    <a href="https://www.facebook.com/profile.php?id=100068595183069" class="btn-nav-i">
        <img src="https://i.imgur.com/rB1CJLo.png" 
        height="4%" width="4%">
    </a>
    &nbsp;&nbsp;
    <a href="https://www.youtube.com/channel/UCu0gSo_y1R6tbXWK94ktP8Q" class="btn-nav-i">
        <img src="https://i.imgur.com/NJbgkwz.png" 
        height="10%" width="10%">
    </a>
    <p style="color: black;">This Website Was Built By The Digital Expert Web & App Engineering Company
    <br><br>Copyright &copy; All Rights Reserved Ekustoms <%= new Date().getFullYear() %> </p>
    <br><br><br><br>
</footer>

</body>
</html>

<style>
    h4{
        text-align: center;
        
    }
    footer{
        text-align: center;
        background-color: white;
    }
</body>
</html>


<style>
    footer{
        text-align: center;
    }
    h4{
        text-align: center;
        
    }
    body{
        background-color:white;
    } 
    footer{
        background-color:;
        color: white;
    }
    header{
        background-color: white;
    }
    h2{
        background-color: black;
        text-align:center;
        color: black;
        
    }
    main{
        background-image:url("https://i.imgur.com/2Bf8jiF.jpg");
        text-align: center;
        background-position: center;
    }
    h3{
        text-align: right;
    }
    h5{
        text-align: center;
        background-color:black;
        color: yellowgreen;
        font-size: large;
    }
    p{
        color: yellowgreen;
        text-align: center;
    }
    </style>