<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body style="background-image: url('https://i.imgur.com/BdCKBbu.jpg');">
        <header>
            <nav>
                    
                <div class="logo">
                    <h1 style="text-align: center;">
                        <a href="/"><img src="https://i.imgur.com/7zoIxQC.jpg" 
                            alt="" height="35%" width="35%" 
                            style="border-radius: 50%;"
                            class="center">
                    </h1>
                        </a>
                       
                <class="list-product">
                               <h4 style="text-align: center; background-color: yellowgreen;">
                <a href="/product" class="link" 
                    style="color: black; align-content: center;" >Graphic Shirts</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/kustoms" class="link" style="color: black;">Kustoms</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/about" class="link" style="color: black;">About Me</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/portraits" class="link" style="color: gray;">Portraits</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/questions" class="link" style="color: black;">Contact  E-Kustums</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/kids" class="link" style="color: black;">Super Kids</a>
                &nbsp;&nbsp;&nbsp;
            <a href="/murals" class="link" style="color: black;">Murals</a>
                &nbsp;&nbsp;&nbsp;
            <a href="/canvas" class="link" style="color: black;">Canvas</a>
            </h4>
            </div>
        </nav>
       <style>
        h4{
            font-size: x-large;
    
        }
    </style>
    </header>
<a href="/"><button style=" font-size: large;"> Home </button></a>


    <main style="font: size 1rem;">
        <h2 style="font-size: 5rem; color: black; font-weight: 100;">Portraites</h2>
            
        <h5 style="font-size: 2rem; color:yellowgreen;"><strong style="color: yellowgreen; font-size: 2rem;">Custom canvas portrait paintings</strong> 
        <br>
        starting at <strong style="color: black; font-size: x-large;">$200</strong>
        <br><br>
        Custom Cartoon character paintings starting at <strong style="color: black; font-size: x-large;">$160</strong>
        <br><br>
        <a href="mailto:ekustoms8@gmail.com">
            <button 
            style="color: orange; font-size: 1rem; background-color:black; font-size: large; "> Inquiry 
            </button>  
        </a> 
        <br><br>
    </h5>
        <br><br>
        <img src="https://i.imgur.com/WWiRRks.jpg" alt="" width="25%" height="20%" style="border-radius: 20%;">
        <img src="https://i.imgur.com/oroZJol.jpg" alt="" width="25%" height="20%" style="border-radius: 20%;">
        <img src="https://i.imgur.com/DP7wSac.jpg" alt="" width="25%" height="20%" style="border-radius: 20%;">
        <img src="https://i.imgur.com/0iPwIp8.jpg" alt="" width="25%" height="20%" style="border-radius: 20%;">
        <img src="https://i.imgur.com/k9lyBo9.jpg" alt="" width="25%" height="20%" style="border-radius: 20%;">
        <img src="https://i.imgur.com/9GDJdod.jpg" alt="" width="30%" height="30%" style="border-radius: 20%;">

</main>


</body>
</html>

<style>
    h4{
        text-align: center;
        
    }
    footer{
        text-align: center;
    }
    .logo:hover
    a:hover,
    .list-product:hover
    a:hover{
        background-color: red;
        padding: 5px 5px 5px;
        border-radius: 25%;
    }
    footer{
        text-align: center;
    }
    h4{
        text-align: center;
        
    }
     
    footer{
        color: black;
    }
    
    h2{
        text-align:center;
        color: black;
        
    }
    main{
        text-align: center;
    }
    h3{
        text-align: right;
    }
    h5{
        text-align: center;
        color: black;
        font-size: large;
    }
    p{
        color: black;
        text-align: center;
    }
    </style>