<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
                <class="nav-btns">
                <h3 ><a href="https://www.facebook.com/profile.php?id=100023486103528" class="btn-nav-i"><img src="https://i.imgur.com/rB1CJLo.png" alt="" height="3%" width="3%"></a>
                <a href="https://instagram.com/e_kustomsllc?igshid=YmMyMTA2M2Y=" class="btn-nav-i"><img src="https://i.imgur.com/JDowZkb.jpg" alt="" height="3%" width="3%"></a>
            </h3>
            <div class="logo">
    
                <h1 style="text-align: center;">
                    <a href="/"><img src="https://i.imgur.com/2Bf8jiF.jpg" alt="" height="25%" width="25%" class="center"></h1>
                    </a>
                    <main>
            <class="list-product">
                <h4>
                <a href="/product" class="link" style="color: greenyellow; border-style: solid; align-content: center;" >Graphic Shirts</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/kustoms" class="link" style="color: greenyellow; border-style: solid;">Kustoms</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/about" class="link" style="color: greenyellow; border-style: solid;">About Me</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/portraits" class="link" style="color: greenyellow; border-style: solid;">Portraits</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/questions" class="link" style="color: greenyellow; border-style: solid;">Frequent Q&A's</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
                <a href="/logout" class="link" style="color: red;"> Logout</a>
                &nbsp; 
                <a href="/login" class="link" style="color: red;"> Login </a>
                &nbsp; 
                <a href="/signup" class="link" style="color: red;"> SignUp</a>
            </h4>
        </div>
    </nav>
    
</header>
<a href="/"><button style="background-color: red;"> Home </button></a>




    <h1 style="text-align:center; color: greenyellow; ">Frequently Asked Q&A's</h1>






<br><br><br>
    <hr>
<footer>
    <p>Copyright &copy; All Rights Reserved Ekustoms <%= new Date().getFullYear() %> </p>
</footer>

</body>
</html>






<style>
    footer{
        text-align: center;
    }
    h4{
        text-align: center;
        
    }
    body{
        background-color:white;
    } 
    footer{
        background-color:;
        color: white;
    }
    header{
        background-color: white;
    }
    h2{
        background-color: black;
        text-align:center;
        color: yellowgreen;
        
    }
    main{
        background-color: black;
    }
    h3{
        text-align: right;
    }
    h5{
        text-align: center;
        background-color: red;
        color: yellowgreen;
        font-size: medium;
    }
    p{
        color: yellowgreen;
        text-align: center;
    }
    </style>