<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-image: url('https://i.imgur.com/BdCKBbu.jpg');">
    <header>
        <nav>
                
            <div class="logo">
                <h1 style="text-align: center;">
                    <a href="/"><img src="https://i.imgur.com/7zoIxQC.jpg" 
                        alt="" height="35%" width="35%" 
                        style="border-radius: 50%;"
                        class="center">
                </h1>
                    </a>
                   
            <class="list-product">
                <h4 style="text-align: center; font-size: large; background-color: yellowgreen;">
                <a href="/product" class="link" 
                    style="color: black; align-content: center;" >Graphic Shirts</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/kustoms" class="link" style="color: black;">Kustoms</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/about" class="link" style="color: black;">About Me</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/portraits" class="link" style="color: black;">Portraits</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/questions" class="link" style="color: black;">Contact  E-Kustums</a>
                &nbsp;&nbsp;&nbsp;
                    <a href="/questions" class="link" style="color: black;">Super Kids</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/murals" class="link" style="color: black;">Murals</a>
            </h4>
        </div>
    </nav>
   <style>
    h4{
        font-size: large;

    }
</style>
</header>
<a href="/"><button style="background-color: red; font-size: large;"> Home </button></a>




    <h1 style="text-align:center; color: black; font-size: xxx-large; ">Contact  E-Kustums</E-Kustums></h1>

    <h2>
        <a href="https://www.facebook.com/profile.php?id=100023486103528" class="btn-nav-i"><img src="https://i.imgur.com/rB1CJLo.png" alt="" height="10%" width="10%" style="background-color: white;"></a>
        <a href="https://instagram.com/e_kustomsllc?igshid=YmMyMTA2M2Y=" class="btn-nav-i"><img src="https://i.imgur.com/JDowZkb.jpg" alt="" height="10%" width="10%" style="background-color: white;"></a>
        <a href="tel:+9126758977" class="btn-nav-i"><img src="https://i.imgur.com/ll2cd7m.jpg" alt="" height="10%" width="10%" style="background-color: white;"></a>
        <a href="mailto:ekustoms8@gmail.com" class="btn-nav-i"><img src="https://i.imgur.com/AI7KAkD.jpg" alt="" height="10%" width="10%" style="background-color: white;"></a>
    </h2>

    

<br><br><br>
<br><br><br><br>
    <hr>
<footer>
    <a href="https://www.linkedin.com/in/fullstack-levonte-larry/" class="btn-nav-i">
        <img src="https://i.imgur.com/dA5kwk8.png" 
        height="13%" width="13%">
    </a>
    &nbsp;&nbsp;

    <a href="https://www.instagram.com/the.digital.expert/" class="btn-nav-i">
        <img src="https://i.imgur.com/JDowZkb.jpg" 
        height="4%" width="4%">
    </a>
    &nbsp;&nbsp;

    <a href="https://www.facebook.com/profile.php?id=100068595183069" class="btn-nav-i">
        <img src="https://i.imgur.com/rB1CJLo.png" 
        height="4%" width="4%">
    </a>
    &nbsp;&nbsp;
    <a href="https://www.youtube.com/channel/UCu0gSo_y1R6tbXWK94ktP8Q" class="btn-nav-i">
        <img src="https://i.imgur.com/NJbgkwz.png" 
        height="10%" width="10%">
    </a>
    <p style="color: black;">This Website Was Built By The Digital Expert Web & App Engineering Company
    <br><br>Copyright &copy; All Rights Reserved Ekustoms <%= new Date().getFullYear() %> </p>
    <br><br><br><br>
</footer>

</body>
</html>

<style>
    footer{
        text-align: center;
        e;
    }
    h4{
        text-align: center;
        
    }
    body{
        ;
    } 
    footer{
     color: white;
    }
    header{
        e;
    }
    h2{
          text-align:center;
        color: yellowgreen;
        
    }
    main{
        k;
    }
    h3{
        text-align: right;
    }
    h5{
        text-align: center;
        
        color: yellowgreen;
        font-size: medium;
    }
    p{
        color: yellowgreen;
        text-align: center;
    }
    </style>