<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="style.css"/>
    
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1><img src="https://i.imgur.com/2Bf8jiF.jpg" alt="" height="15%" width="15%"></h1>
        
                <class="nav-btns">
                <h2><a href="https://www.facebook.com/profile.php?id=100023486103528" class="btn-nav-i"><img src="https://i.imgur.com/rB1CJLo.png" alt="" height="3%" width="3%"></a>
                <a href="https://instagram.com/e_kustomsllc?igshid=YmMyMTA2M2Y=" class="btn-nav-i"><img src="https://i.imgur.com/JDowZkb.jpg" alt="" height="3%" width="3%"></a>
                <a href="" class="btn-nav-i"><img src="https://i.imgur.com/P7BbMb7.png" alt="" height="4%" width="4%"></a>
            </h2>
            <class="list-product">

                <a href="/product" class="link">Graphic Shirts</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/kustoms" class="link">Kustoms</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/about" class="link">About Me</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/questions" class="link">Frequent Q&A's</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/login" class="link">Login</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/logout" class="link">Logout</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/signup" class="link">SignUp</a>
                
            </div>
        </nav>
        <br>
    </header>
    <hr>
    <br>
    <a href="/"><button> Home </button></a>
            <h1>Shop Graphic Shirts</h1>

    <% product.forEach(p => { %>
        <a href="/product/<%= p._id%>">
            <img src="<%= p.img %>" alt="" width="25%" height="25%">
        </a>
            <br>
            <a>
                <%= p.name %>
            </a><br>
        
   <% }); %>  
   <br>
   <br>
<a href="/product/new"><button>Add Items</button></a>
</form>
<hr>
<footer>
    <p>Copyright &copy; All Rights Reserved Ekustoms <%= new Date().getFullYear() %> </p>
</footer>
</body>
</html>