<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    
</head>
<body style="background-image: url('https://i.imgur.com/BdCKBbu.jpg');">
    <header>
        <nav>
                
            <div class="logo">
                <h1 style="text-align: center;">
                    <a href="/"><img src="https://i.imgur.com/hNPJYpf.jpg" 
                        alt="" height="25%" width="25%" 
                        style="border-radius: 50%;padding:3% 3% 3%; border-radius: 25%;
                         box-shadow:20px 20px 20px yellowgreen;"
                        class="center">
                </h1>
                    </a>
                   
            <class="list-product">
                <h4 style="text-align: center; background-color: yellowgreen;">
                <a href="/product" class="link" 
                    style="color: grey; align-content: center;" >Graphic Shirts</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/kustoms" class="link" style="color: black;">Kustoms</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/about" class="link" style="color: black;">About Me</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/portraits" class="link" style="color: black;">Portraits</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/questions" class="link" style="color: black;">Contact  E-Kustums</a> 
                &nbsp;&nbsp;&nbsp;
                <a href="/kids" class="link" style="color: black;">Super Kids</a>
                &nbsp;&nbsp;&nbsp;
                <a href="/murals" class="link" style="color: black;">Murals</a>
            </h4>
        </div>
    </nav>
   
</header>
<div class="shirts">

    <h1 style="text-align: center; font-size:4rem; color: black;">Kustom Graphic Shirts</h1> 
    
<div class="column">

        <ul class="container"
            style="
                margin: auto;
                font-size:large; 
                display: flex; width: 90%;
                flex-wrap: wrap;
                justify-content: center;"
        >
        <% product.forEach(p => { %>
            <li style="display: flex; 
                        flex-direction: column; 
                        justify-content: center; 
                        align-items: center; margin: 15px"
            >
            <a>
                <img src="<%= p.img %>" alt="" width="350" height="350"
                        style="border-radius: 25%;" >
            </a>
                <a href="/product/<%= p._id%>">
                    <%= p.name %>
                </a>
            </li>
    <% }); %> 
    </ul>

</div>

</body>
</html>




<style>
    .shirts:hover
    a:hover,
    .logo:hover
    a:hover,
    .list-product:hover
    a:hover{
        background-color: orange;
        padding: 5px 5px 5px;
        border-radius: 25%;
    }
    p{
            font-size: xxx-large;
        }
        h2{
            font-size: 1rem;
        }
        div.shirts{
            width: 100%;

        }
        a{
            color: black;
            font-size: x-large;
        }
    footer{
        text-align: center;
        font-size: x-large;
    }
    footer{
        text-align: center;
    }
    h4{
        text-align: center;
        
    }
    footer{
        color: white;
    }
    h2{
        text-align:center;
        color: black;
        
    }
    
    h3{
        text-align: right;
    }
    
    p{
        color: black;
        text-align: center;
    }
    </style>